
 <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About workout calendar</h5>
          <p class="grey-text text-lighten-4">A simple service for helping manage training-schedule and periodization.
            This project is also open-source, so feel free to participate in.
          </p>
          <h5 class="white-text">Github Link</h5>
          <a class="grey-text text-lighten-3" href="https://github.com/MinyoungJung/workoutscheduler_project">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Developer contact</h5>
          <div class="row">
              <div class="col l12 s3">
                  <a class="grey-text text-lighten-3" href="mailto:minyoungjung84@gmail.com">
              <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> E-mail</a>
              </div>
              <div class="col l12 s3">
                  <a class="grey-text text-lighten-3" href="https://www.instagram.com/fallgrain">
              <i class="fa fa-instagram fa-2x"></i> Instagram</a>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
        © 2017 Powered by Minyoung Jung
    </div>
  </div>
</footer>