
 <footer class="page-footer orange lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">카스타드는...</h5>
          <p class="grey-text text-lighten-4">
              간단한 일기 다이어리 웹 서비스입니다.
          </p>
          <h5 class="white-text">Github Link</h5>
          <a class="grey-text text-lighten-3" href="https://github.com/openhack-Blackjack/diary">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">개발자 연락처</h5>
          <div class="row">
              <div class="col l12 s3">
                  <a class="grey-text text-lighten-3" href="mailto:minyoungjung84@gmail.com">
              <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> E-mail</a>
              </div>
              <div class="col l12 s3">
                  <a class="grey-text text-lighten-3" href="https://www.instagram.com/fallgrain">
              <i class="fa fa-instagram fa-2x"></i> Instagram</a>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
        © 2018 Powered by Black jack
    </div>
  </div>
</footer>