{% extends "base.html" %}

{% block content %}
<div class="container" style="color:#995a07;font-size:1em;font-weight: bold;">
    <div class="row" style="color"><hr/></div>
    <div class="row">
        <div class="col s2 offset-s2"><a style = "font-size: 18px" href="{% url 'todolist:today_frined' %}">TODAY</a></div>
        <div class="col s2"><a href="{% url 'todolist:today_issue' %}">URL 모음</a></div>
        <div class="col s2"><a href="{% url 'todolist:today_best' %}"><span style="font-color:#995a07;">베스트샷</span></a></div>
        <div class="col s2"><a href="{% url 'todolist:today_workout_list' %}">일기쓰기</a></div>
        <div class="col s2"><a href="{% url 'calendar:workout_calendar' %}">이전기록</a></div>
    </div>
    <div class="row"><hr/></div>
</div>


<main>

<div class="container">

<div>
    <h4 class="grey-text center">{{ day|date:"Y년 N j일, D"}}</h4>


    <div class="row">
        <div class="col l8 offset-l2 s12">
          <ul>
          {% for cafriend in cafriends %}

            <li>{{cafriend.fname}}:  {{cafriend.count}}</li>
            
          {% endfor %}
        </ul>
        </div>
    </div>


</div>

{% endblock %}