{% extends "base.html" %}

{% block content %}

<div class="container" style="color:#995a07;font-size:1em;font-weight: bold;">
    <div class="row" style="color"><hr/></div>
    <div class="row">
        <div class="col s2 offset-s2"><a href="{% url 'todolist:today_frined' %}">TODAY</a></div>
        <div class="col s2"><a href="{% url 'todolist:today_issue' %}">URL 모음</a></div>
        <div class="col s2"><a href="{% url 'todolist:today_best' %}"><span style="font-color:#995a07;">베스트샷</span></a></div>
        <div class="col s2"><a style = "font-size: 18px" href="{% url 'todolist:today_workout_list' %}">일기쓰기</a></div>
        <div class="col s2"><a href="{% url 'calendar:workout_calendar' %}">이전기록</a></div>
    </div>
    <div class="row"><hr/></div>
</div>


<main>

<div class="container">
<div>
    <h4 class="center">{{ day|date:"Y년 N j일, D"}}</h4>


    <div class="row">
        <div class="col l8 offset-l2 s12">
           <form action="{% url 'todolist:workout_new'%}" method="post" id="myForm">
            {%csrf_token%}
                <input type="text" name="workout" style="font-size:30pt;">
                <div style="background-image: url('/static/img/note.png'); padding-left: 120px;padding-top: 110px;">
                    <textarea name="content" cols="50" style="font-size:30pt;height:20em;width:600px;border: none"></textarea>
                </div>
            </form>
        </div>
    </div>


</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating yellow darken-1" onclick="set_sunny();"><i class="material-icons">wb_sunny</i></a></li>
    <li><a class="btn-floating blue darken-3" onclick="set_rainny();"><i class="material-icons">invert_colors</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">autorenew</i></a></li>
    <li><a class="btn-floating blue" onclick="submit()"><i class="material-icons">save</i></a></li>
  </ul>
</div>


<script>

    function set_sunny() {
        alert("기분이 좋으시군요~")
    }

    function set_rainny() {
        alert("기분이 안좋으신가요? 힘내세요~")
    }

    function submit() {
        document.getElementById("myForm").submit();
    }

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      hoverEnabled: false
    });
  });

  // Or with jQuery

</script>
{% endblock %}
