{% extends "base.html" %}

{% block content %}


<div>
    <h4 class="grey-text center">{{ day|date:"Y년 N j일, D"}}</h4>


    <div class="row">
        <div class="col l8 offset-l2 s12">
           <form action="{% url 'todolist:workout_update'%}" method="post">
            {%csrf_token%}
                <input type="text" name="workout">
                <div style="background-image: url('/static/img/note.png'); padding-left: 180px;padding-top: 60px;">
                    <textarea name="content" cols="50" style="font-size:23pt;height:25em;width:560px;border: none"></textarea>
                </div>
                <input type="submit" name="일기쓰기">         
            </form>
        </div>
    </div>


</div>
<div class="rain front-row"></div>
  <div class="rain back-row"></div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating yellow darken-1" onclick="set_sunny();"><i class="material-icons">wb_sunny</i></a></li>
    <li><a class="btn-floating blue darken-3" onclick="set_rainny();"><i class="material-icons">invert_colors</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">autorenew</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">save</i></a></li>
  </ul>
</div>


<script>

    function set_sunny() {
        alert("asdf")
    }

    function set_rainny() {
        $("body").class
        makeItRain();
    }

    var makeItRain = function() {
  //clear out everything
  $('.rain').empty();

  var increment = 0;
  var drops = "";
  var backDrops = "";

  while (increment < 100) {
    //couple random numbers to use for various randomizations
    //random number between 98 and 1
    var randoHundo = (Math.floor(Math.random() * (98 - 1 + 1) + 1));
    //random number between 5 and 2
    var randoFiver = (Math.floor(Math.random() * (5 - 2 + 1) + 2));
    //increment
    increment += randoFiver;
    //add in a new raindrop with various randomizations to certain CSS properties
    drops += '<div class="drop" style="left: ' + increment + '%; bottom: ' + (randoFiver + randoFiver - 1 + 100) + '%; animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"><div class="stem" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div><div class="splat" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div></div>';
    backDrops += '<div class="drop" style="right: ' + increment + '%; bottom: ' + (randoFiver + randoFiver - 1 + 100) + '%; animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"><div class="stem" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div><div class="splat" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div></div>';
  }

  $('.rain.front-row').append(drops);
  $('.rain.back-row').append(backDrops);
}

</script>
{% endblock %}
