body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: HUWildflower130;
}

main {
  flex: 1 0 auto;
}


a:link {
  color:#995a07;
}

a:visited{
  color:#995a07;
}

hr{
  color:#b28850;
  border:thin solid #b28850;
}

.Login_box {
  width: 140px;
  height: 58px;
  border-radius: 10px;
  border: solid 3px #897045;
    color: #897045;
    background-color: rgba(123,123,123,0);
}

.Join_box {
  width: 141px;
  height: 58px;
  border-radius: 10px;
  border: solid 3px #897045;
    color: #897045;
    background-color: rgba(123,123,123,0);
}

h4{
  color:#897045;
}