{% extends "base.html" %}

{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<div class="container" style="color:#995a07;font-size:1em;font-weight: bold;">
    <div class="row" style="color"><hr/></div>
    <div class="row">
        <div class="col s2 offset-s2"><a href="{% url 'todolist:today_frined' %}">TODAY</a></div>
        <div class="col s2"><a href="{% url 'todolist:today_issue' %}">URL 모음</a></div>
        <div class="col s2"><a href="{% url 'todolist:today_best' %}"><span style="font-color:#995a07;">베스트샷</span></a></div>
        <div class="col s2"><a href="{% url 'todolist:today_workout_list' %}">일기쓰기</a></div>
        <div class="col s2"><a style = "font-size: 18px" href="{% url 'calendar:workout_calendar' %}">이전기록</a></div>
    </div>
    <div class="row"><hr/></div>
</div>


<main>

<div class="container">
<!-- To invalidate browser cache-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/calendar.css?ver=2"/>

<div class="calendar">
    {{ calendar }}
</div>
{% endblock %}
