{% extends "base.html" %}

{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div>
    <h4 class="grey-text center">{{ day|date:"Y년 N j일, D"}}</h4>


    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div style="background-image: url('/static/img/note.png'); padding-left: 180px;padding-top: 60px;">
                <textarea readonly name="content" cols="50" style="font-size:23pt;height:25em;width:560px;border: none" >{{workout.content}}</textarea>
            </div>
        </div>
    </div>


</div>
{% endblock %}
